body
  padding-top 60px

.open > .dropdown-menu
  padding 10px

#logged_in
  display none

#content
  display none

.modal-body .control-group
  margin-bottom 5px !important

[contenteditable=true]
  padding 5px

*:hover > [contenteditable=true], [contenteditable=true]:focus
  padding 4px
  border 1px dotted #aaa

.item_list
  margin 5px
  list-style none

.item_list li
  padding 5px 0
